.create-account-form-container {
  display: flex;
  flex-direction: column;
  background-color: #add4d0;
  min-height: 100vh;
  align-items: center;
  width: 100%;
 
}

.create-account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 55%;
  margin-top: 6.25rem;
}

.create-account-form-fields-container {
 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.labelsColumn {

  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6px;
}

.inputsColumn {

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
 
}

.create-account-form .outerLabels {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 5px 0px;
  height: 25px;

}

.create-account-form .outerInputs {
  color: #3f92c5;
  font-size: 1.3rem;
  margin: 5px 0px;
  padding: 0;

}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0px;
  height: 25px;
  width: 65%;

}

.radio-container label {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 6px;
  height: 25px;
}

input[type="radio"] {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
}

.create-account-form input [type="text"],
[type="password"],
[type="email"],
[type="text"] {
  width: 25rem;
}

input[type="date"] {
  position: relative;
  background-image: url("/resources/icon-calendar.png");
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
  background-position: right 18px center;
  width: 11.1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}