.form-background {
  display: flex;
  flex-direction: column;
  background-color: #add4d0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.form-link-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.form-fields-container {
 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.labelsColumn {


  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6px;

}

.inputsColumn {
  display: flex;
  align-items: flex-start;
  width: 60%;
 
}
.outerLabels {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 8px;
  height: 30px;
}

.outerInputs {
  color: #3f92c5;
  font-size: 1.3rem;
height: 30px;
  padding: 0;
}
a {
    color:  #419ED7;
    font-size: 1.1rem;
}