.nav-bar{
    background-color: #8FE1D9;
    display: flex;
    justify-content: space-between;
    height:60px;
    width: 100%;
    border: red solid 1px;
    align-items: center;

}

.nav-bar-logo-container {
    display: flex;
    align-items: center;
    margin: 11px;
    border: red solid 1px;
}

.nav-bar-logo-text {
    color:#419ED7;
    font-weight: 400;
    font-size: 2.1rem;
    align-self: center;
}

.nav-icon{
    height:2.1rem;
    width: 2.1rem;
    border: red solid 1px;
}


.nav-bar-button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}