.form-background {
  display: flex;
  flex-direction: column;
  background-color: #add4d0;
  min-height: 100vh;
  align-items: center;
  max-width: 100%;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  background-image: url("/resources/trash\ 2.png");
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
  background-position: left 5px center;
  text-indent: 15px;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 75%;
}

.form-fields-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 6px;
  max-height: 600px;
}

.labelsColumn {
  display: flex;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6px;

}

.inputsColumn {
  display: flex;
  align-items: flex-start;
  height: auto;
  width: 55%;
 
}
.fileGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 3px;
}

.fileGroup img {
  max-width: 220px;
  max-height: 220px;
  object-fit: contain;
  display: none;
}
.fileLabel {
  color: #ffffff;
  font-size: 1.1rem;

  border: 1px solid #419ed7;
  padding: 5px 15px 2px 8px;
  background-color: #419ed7;

  margin-bottom: 8px;
}

.outerLabels {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 5px 0px;

  height: 30px;
}
.outerInputs {
  color: #3f92c5;
  height: 30px;
  font-size: 1.3rem;
  margin: 5px 0px;
  padding: 0;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 5px 0px;
  height: 25px;
  width: auto;
}

.radio-container label {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 6px;
  height: 25px;
}

input[type="radio"] {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
}

input[type="date"] {
  position: relative;
  background-image: url("/resources/icon-calendar.png");
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
  background-position: right 18px center;
  width: 11.1rem;
  border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="file"] {
  display: none;
}
input[type="text"]{
  border: none;
}
